<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>API de cadastro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <h2>Lista de alunos feita em Node.js</h2>
        <h3>por João Pedro e Gabriela</h3>
    </header>
    <main>
        <div class="container">
            <h1><i class="fa-solid fa-list-check"></i> listagem de cadastros</h1>
            <form id="form-cadastro">
                <div>
                    <input type="text" id="nome_aluno" name="nome_aluno" placeholder="Aluno" required>
                </div>
                <div>
                    <input type="date" name="data" id="data" required>
                </div>
                <div>
                    <input type="text" id="cep" name="cep" placeholder="CEP">
                </div>
                <button type="submit"><i class="fa-solid fa-plus"></i> Adicionar</button>
            </form>
            <div>
                <ul id="lista-cadastro"></ul>
            </div>
        </div>
    </main>
    <footer>
        <div> &copy; 2025 by João e Gaby</div>
    </footer>
    <script src="./script/app.js"></script>
</body>

</html>